{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<div class="text-center">
        <h1>
                <img src="{% static 'app/imagem/docente.png' %}" alt="docente"
                        style="width: 45px; height: 45px; vertical-align: middle; margin-right: 5px;">
                Docentes
        </h1>
</div>

{% for docente in docentes %}
<div class="card mb-3">
        <div class="card-header">
        </div>
        <div class="card-body">
                <h5 class="card-title"> Nome: {{ docente.nome }} {{ docente.sobrenome }}</h5>
                <hr>
                {% if request.user.is_superuser == True %}
                <a href="{% url 'editar_docente' docente.id %}"> <input type="button" class="btn btn-success"
                                value="Editar"></a>
                <a href="{% url 'remover_docente' docente.id %}"> <input type="button" class="btn btn-danger"
                                value="Remover"></a>
                {% endif %}
        </div>
</div>
{% endfor %}
{% if request.user.is_superuser == True %}
<a href="{% url 'cadastrar_docente' %}"> <input type="button" class="btn btn-primary mb-3"
                value="Cadastrar novo docente"></a>
{% endif %}

{% endblock conteudo%}