 {% extends 'base.html' %}

 {% block conteudo %}
 <div class="card mb-3" style="margin-top: 10px;">
     <div class="card-header">
         tem certeza que desejar remover a manografia abaixo?
      </div>
      <div class="card-body">
         <h5 class="card-title"> Título: {{ manografia.titulo }}</h5>
         <p class="card-text"> Autor: {{ manografia.autor }}</p>
         <hr>
         <form method="post">
         {% csrf_token %}
             <button class="btn btn-danger" type="submit">Remover</button>
         </form>
     </div>
  </div>

  {% endblock conteudo %}